body {
  background-image: url("../img/sfondoblack.jpg");
  margin: 0;
  

}

canvas {
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 0.7%;
}